body {
    height: 100vh;
}

main {
    height: 100%;
}

.album {
    height: 100%;
}

.info-section {
    border-radius: 15px;
    border: 2px solid lightgray;
    display: flex;
    margin: 20px 0;
    /* background-color: #e1e6ea	; */
}

.info-icon-container {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border-right: 2px solid lightgray;
}

.card-text {
    min-height: 48px;
}